@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;

    src: url('../fonts/lato/lato-black.eot');
    src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;

    src: url('../fonts/lato/lato-bold.eot');
    src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff') format('woff'), url('../fonts/lato/lato-bold.ttf') format('truetype'), url('../fonts/lato/lato-bold.svg#latobold') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: bold;

    src: url('../fonts/lato/lato-bolditalic.eot');
    src: url('../fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic.woff') format('woff'), url('../fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: normal;

    src: url('../fonts/lato/lato-italic.eot');
    src: url('../fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic.woff') format('woff'), url('../fonts/lato/lato-italic.ttf') format('truetype'), url('../fonts/lato/lato-italic.svg#latoitalic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;

    src: url('../fonts/lato/lato-light.eot');
    src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype'), url('../fonts/lato/lato-light.svg#latolight') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/lato/lato-regular.eot');
    src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype'), url('../fonts/lato/lato-regular.svg#latoregular') format('svg');
}
@font-face {
    font-family: 'Flat-UI-Pro-Icons';

    src: url('../fonts/glyphicons/flat-ui-pro-icons-regular.eot');
    src: url('../fonts/glyphicons/flat-ui-pro-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons/flat-ui-pro-icons-regular.woff') format('woff'), url('../fonts/glyphicons/flat-ui-pro-icons-regular.ttf') format('truetype'), url('../fonts/glyphicons/flat-ui-pro-icons-regular.svg#flat-ui-pro-icons-regular') format('svg');
}
[class^="fui-"],
[class*="fui-"] {
    font-family: 'Flat-UI-Pro-Icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fui-triangle-up:before {
    content: "\e600";
}
.fui-triangle-down:before {
    content: "\e601";
}
.fui-triangle-up-small:before {
    content: "\e602";
}
.fui-triangle-down-small:before {
    content: "\e603";
}
.fui-triangle-left-large:before {
    content: "\e604";
}
.fui-triangle-right-large:before {
    content: "\e605";
}
.fui-arrow-left:before {
    content: "\e606";
}
.fui-arrow-right:before {
    content: "\e607";
}
.fui-plus:before {
    content: "\e608";
}
.fui-cross:before {
    content: "\e609";
}
.fui-check:before {
    content: "\e60a";
}
.fui-radio-unchecked:before {
    content: "\e60b";
}
.fui-radio-checked:before {
    content: "\e60c";
}
.fui-checkbox-unchecked:before {
    content: "\e60d";
}
.fui-checkbox-checked:before {
    content: "\e60e";
}
.fui-info-circle:before {
    content: "\e60f";
}
.fui-alert-circle:before {
    content: "\e610";
}
.fui-question-circle:before {
    content: "\e611";
}
.fui-check-circle:before {
    content: "\e612";
}
.fui-cross-circle:before {
    content: "\e613";
}
.fui-plus-circle:before {
    content: "\e614";
}
.fui-pause:before {
    content: "\e615";
}
.fui-play:before {
    content: "\e616";
}
.fui-volume:before {
    content: "\e617";
}
.fui-mute:before {
    content: "\e618";
}
.fui-resize:before {
    content: "\e619";
}
.fui-list:before {
    content: "\e61a";
}
.fui-list-thumbnailed:before {
    content: "\e61b";
}
.fui-list-small-thumbnails:before {
    content: "\e61c";
}
.fui-list-large-thumbnails:before {
    content: "\e61d";
}
.fui-list-numbered:before {
    content: "\e61e";
}
.fui-list-columned:before {
    content: "\e61f";
}
.fui-list-bulleted:before {
    content: "\e620";
}
.fui-window:before {
    content: "\e621";
}
.fui-windows:before {
    content: "\e622";
}
.fui-loop:before {
    content: "\e623";
}
.fui-cmd:before {
    content: "\e624";
}
.fui-mic:before {
    content: "\e625";
}
.fui-heart:before {
    content: "\e626";
}
.fui-location:before {
    content: "\e627";
}
.fui-new:before {
    content: "\e628";
}
.fui-video:before {
    content: "\e629";
}
.fui-photo:before {
    content: "\e62a";
}
.fui-time:before {
    content: "\e62b";
}
.fui-eye:before {
    content: "\e62c";
}
.fui-chat:before {
    content: "\e62d";
}
.fui-home:before {
    content: "\e62e";
}
.fui-upload:before {
    content: "\e62f";
}
.fui-search:before {
    content: "\e630";
}
.fui-user:before {
    content: "\e631";
}
.fui-mail:before {
    content: "\e632";
}
.fui-lock:before {
    content: "\e633";
}
.fui-power:before {
    content: "\e634";
}
.fui-calendar:before {
    content: "\e635";
}
.fui-gear:before {
    content: "\e636";
}
.fui-bookmark:before {
    content: "\e637";
}
.fui-exit:before {
    content: "\e638";
}
.fui-trash:before {
    content: "\e639";
}
.fui-folder:before {
    content: "\e63a";
}
.fui-bubble:before {
    content: "\e63b";
}
.fui-export:before {
    content: "\e63c";
}
.fui-calendar-solid:before {
    content: "\e63d";
}
.fui-star:before {
    content: "\e63e";
}
.fui-star-2:before {
    content: "\e63f";
}
.fui-credit-card:before {
    content: "\e640";
}
.fui-clip:before {
    content: "\e641";
}
.fui-link:before {
    content: "\e642";
}
.fui-tag:before {
    content: "\e643";
}
.fui-document:before {
    content: "\e644";
}
.fui-image:before {
    content: "\e645";
}
.fui-facebook:before {
    content: "\e646";
}
.fui-youtube:before {
    content: "\e647";
}
.fui-vimeo:before {
    content: "\e648";
}
.fui-twitter:before {
    content: "\e649";
}
.fui-spotify:before {
    content: "\e64a";
}
.fui-skype:before {
    content: "\e64b";
}
.fui-pinterest:before {
    content: "\e64c";
}
.fui-path:before {
    content: "\e64d";
}
.fui-linkedin:before {
    content: "\e64e";
}
.fui-google-plus:before {
    content: "\e64f";
}
.fui-dribbble:before {
    content: "\e650";
}
.fui-behance:before {
    content: "\e651";
}
.fui-tumblr:before {
    content: "\e657";
}
.fui-lastfm:before {
    content: "\e659";
}
.fui-html5:before {
    content: "\e65b";
}
.fui-github:before {
    content: "\e65c";
}

html{
    border-right:solid 7px #212121;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.bottomBorder{
    width:100%;
    margin:0;
    padding:0;
    height:7px;
    background:#212121;
    position:fixed;
    bottom:0;
}
body, html{
    margin:0;
    padding:0;
}
html{
    background:#000;
    color:#FEFEFE;
}
body{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}
p{
    font-weight:300;
}
a{
    color: inherit;
    font-weight:bold;
    text-decoration:none;
}
ul{
    list-style:square;
    padding:0;
    margin:0;
}

ul.navigation{
    list-style:none;
    margin-top:-22px;
    text-align:center;
    opacity:0.7;
    font-size:1em;
}

ul.navigation li a:hover{
    opacity:0.7;
}

ul.navigation li{
    display:inline-block;
    margin-left:6px;
}

ul.navigation li a {
    text-transform:uppercase;
    font-weight:300;
    cursor: pointer;
}
ul.navigation li:first-child{
    margin-left:0px;
}
.main-container{
    padding-top:20px;
    padding-bottom:10px;
    margin-top: -10px;
    width:100%;
    text-align:center;
    position:fixed;
    margin-left: -7px;
    opacity: 0.99;
    background:#000;
    -webkit-box-shadow: 0px 6px 50px 4px #000;
    -moz-box-shadow:    0px 6px 50px 4px #000;
    box-shadow:         0px 6px 50px 4px #000;
}
.hide{
    display:none;
}
.intro-logo{
    font-size: 2em;
    margin-top: -10px;
}
.intro-exp{
    font-weight: 600;
    font-size: 1.2em;
    display: inherit;
    margin-bottom: 10px;
}
.intro-about{
    width: 60%;
    margin-left: 20%;
    line-height: 1.4;
    text-align: left;
    margin-top:24px;
}
.intro-about a{
    opacity:1;
}
.intro-pho{
    font-style:italic;
    font-weight:300;
}
.intro-about a:hover{
    opacity:0.5;
}
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: right;
    font-size: 0.8em;
    color: #333;
    margin-left: -14px;
}
.color-clit{
    position: fixed;
    top:8px;
    right: 12px;
    height: 24px;
    width: 24px;
    background: #FEFEFE;
    z-index: 999;
    opacity: 1;
    transition: all 0.5s ease-in-out;

}

.color-clit:hover{
    cursor:pointer;
    opacity:0.7;
}
.project{
    width: 100%;
    margin: 12px 0;
}
.project .title{
    font-size:1.5em;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.project .date{
    font-size: 12px;
    float: right;
    padding: 3px 5px;
    opacity: 1;
    margin-top: 38px;
}
.project .description{
    float: left;
    font-size:1em;
    width: 70%;
    margin: 0;
    line-height: 1.4;
    text-align:justify;
    margin-top: -4px;
    margin-left: 12px;
}
.project .categories{
    display:block;
    margin-top:8px;
    text-align: left;
}
.project img{
    float: left;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 3px;;
}
.project a:hover{
    text-decoration:underline;
}
.clearfix{
    clear:both;
    display: block;
    margin: 0;
    height: 14px;
}
.container{
    padding: 0;
    padding-top:180px;
    display:none;
    width: 60%;
    margin: 0 20%;
    display:none;
}
ul.pub{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style:none;
    padding-bottom: 20px;
}
ul.pub li{
    opacity: 0.9;
    margin: 0 0 14px 6px;
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.4;
}
ul.pub li.datePub{
    font-size:1.4em;
    padding: 2px 4px;
}
ul.pub li a{
    opacity: 0.7;
}
ul.pub li a:hover{
    text-decoration:underline;
}
ul.people{
    list-style:none;
    padding-bottom: 30px;
}
ul.people li{
    width: 184px;
    text-align: center;
    font-size: 0.8em;
    display: inline-block;
}
ul.people li img{
    padding:12px 24px;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);

}

ul.people li img:hover{
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
}

ul.people .personType{
    display:block;
    text-align:left;
    font-size:1.4em;
    width:100%;
    margin: 24px 0 0px 8px;
}
ul.courses{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style:none;
}
ul.courses li{
    margin-bottom: 24px;
}
ul.courses span{
    display: block;
}
ul.courses .name{
    font-size:1.2em;
    font-weight:200;
}
ul.courses .date{
    font-size:0.8em;
    opacity:0.9;
    padding: 2px 4px;
}
ul.courses a{
    font-size:0.7em;
}
ul.courses a:hover{
    text-decoration:underline;
}
.black{
    color: rgb(254, 254, 254);
    background: rgb(0, 0, 0);
}
.white{
    background: rgb(254, 254, 254);
    color: rgb(0, 0, 0);
}
@-webkit-keyframes loading {
  0%   { opacity: 0.3; }
  100% { opacity: 1; }
}
@-moz-keyframes loading {
  0%   { opacity: 0.3; }
  100% { opacity: 1; }
}
@-o-keyframes loading {
  0%   { opacity: 0.3; }
  100% { opacity: 1; }
}
@keyframes loading {
  0%   { opacity: 0.3; }
  100% { opacity: 1; }
}
.loader{
    -webkit-animation: loading 1s infinite;
    -moz-animation: loading 1s infinite;
    -o-animation: loading 1s infinite;
    animation: loading 1s infinite;
}
.social-links{
    position: fixed;
    top: 42px;
    right: 12px;
    z-index: 999;

}
.social-links a:hover{
    transition: all 0.2s ease-in-out;
    opacity:0.7;
}
.social-links a{

}
.social-links .fui-vimeo{
    padding:4px;
    width: 24px;

}
.social-links .fui-github{
    margin-left:3px;
    padding:4px;
    width: 25px;
}
